<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/static/assets/favicon.ico" />
    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--Javascript-->
    <script defer src="../static/js/main.js"></script>
    <script defer src="../static/js/all.min.js"></script>
</head>

<body>
    <header>
        <a class="logo" href="/index.html"><i class="fab fa-phoenix-framework circle-icon"></i>Phoenix Tube</a>
        <form id="demo-2">
            <input  type="search" placeholder="Search">
        </form>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>
        <nav class="menu">
            <ul>
                <li class="menu-item"><a href="/templates/rooms.html">Rooms</a></li>
                <li class="menu-item"><a href="/templates/register.html">Register</a></li>
                <li class="menu-item"><a href="/templates/log.html">Log In</a></li>
                <li class="menu-item">
                    <form id="demo-2">
                        <input  type="search" placeholder="Search">
                    </form>
                </li>
            </ul>
        </nav>
        <div class="dark-mode-btn"><i class="fas fa-moon    "></i></div>
    </header>
    <main>
        <section class="register">
            <div class="wrapper">
                <div class="flex-container">
                    <div class="text-wrapper">
                        <h1 class="headtag-highlight">No Account? <span class="orange-text">Register</span></h1>
                        <h2 class="subtag-highlight">so you can start using the application!</h2>
                    </div>
                    <form action="" class="login-form">
                        <label for="username">Username</label>
                        <input class="login-input" type="text" name="username">
                        <label for="password">Password</label>
                        <input class="login-input" type="text" name="password">
                        <label for="confirmPassword">Confirm Password</label>
                        <input class="login-input" type="text" name="confirmPassword">
                        <button class="btn-normal" type="submit">Register</button>
                    </form>


                </div>
            </div>
        </section>
    </main>

    <footer>
        <h4 class="footer-text">Develop by <span class="orange-text">Ahoy <a href="#"><i class="fab fa-github    "></i></a></span>
            and Designed by <span class="orange-text">Tronquin <a href="#"><i class="fab fa-github    "></i></a></span></h4>
    </footer>
</body>

</html>