<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/static/assets/favicon.ico" />
    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--Javascript-->
    <script defer src="../static/js/main.js"></script>
    <script defer src="../static/js/all.min.js"></script>
</head>

<body>
    <header>
        <a class="logo" href="/index.html"><i class="fab fa-phoenix-framework circle-icon"></i>Phoenix Tube</a>
        <form id="demo-2">
            <input type="search" placeholder="Search">
        </form>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>
        <nav class="menu">
            <ul>
                <li class="menu-item"><a href="/templates/rooms.html">Rooms</a></li>
                <li class="menu-item"><a href="/templates/register.html">Register</a></li>
                <li class="menu-item"><a href="/templates/log.html">Log In</a></li>
                <li class="menu-item">
                    <form id="demo-2">
                        <input type="search" placeholder="Search">
                    </form>
                </li>
            </ul>
        </nav>
        <div class="dark-mode-btn"><i class="fas fa-moon    "></i></div>
    </header>
    <main>
        <section class="video-room">
            <div class="wrapper">
                    <div class="grid-container-2">
                        <h2 class="video-room-title headtag-highlight">Video Room #69</h2>
                        <div class="video-container">
                            <div class="responsive-iframe"><iframe width="560" height="315" src="https://www.youtube.com/embed/w1VeOlIDD9o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                        </div>
                        <aside class="chat-container">
                            <div class="chat-text-box">
                                <b><span class="user">Tronquin: </span>Hi, How are you?</b>
                                <b><span class="user">Ahoy: </span>Fine!</b>
                            </div>
                            <div class="input-interface-container">
                                <input class="chat-input" type="text">
                                <div class="submit-btn"> <i class="fas fa-envelope    "></i> </div>
                                <div class="hide-chat-btn"> <i class="fas fa-window-close    "></i> </div>
                            </div>
                        </aside>
                        <div class="hide-chat-btn-secondary"> <i class="fas fa-comment    "></i> </div>
                        <div class="queue-container">
                            <div class="chat-text-box">
                                <a href="https://www.youtube.com/watch?v=w1VeOlIDD9o">Patrick Explains STAR WARS: THE LAST JEDI (And Why It's Great)</a>
                            </div>
                            <div class="input-interface-container">
                                <input class="queue-input" type="text">
                                <div class="submit-btn"><i class="fas fa-envelope    "></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="hidden-box">
            <h4 class="footer-text">Develop by <span class="orange-text">Ahoy <a href="#"><i class="fab fa-github    "></i></a></span>
                and Designed by <span class="orange-text">Tronquin <a href="#"><i class="fab fa-github    "></i></a></span></h4>
        </div>
    </footer>
</body>

</html>